/*
asset-builder @ 2023-02-17 10:38:36
*/

/*seg_desktop_include.css*/

/*s-page.css*/
* {font-family: Verdana, Arial, sans-serif; color: #ffffff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {height: 100%;}
body {background: #000000 url(../img/bg_tile.png) repeat top left; height: 100%; margin: 0; overflow-y: scroll; overflow-x: hidden;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #333333;}
input, textarea {outline: none;}
a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
sup {line-height: 1em; font-family: inherit; color: inherit;}
h1 {padding: 0 70px 30px; font-size: 48px; line-height: 1.05em;}
h2 {padding: 0 70px 30px; font-size: 30px; line-height: 1.1em;}
h3 {padding: 0 70px 10px; font-size: 20px; line-height: 1.25em;}
h4 {padding: 0 70px 5px; font-size: 14px; line-height: 1em; font-weight: bold;}
h5 {padding: 0 70px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}
h6 {padding: 0 70px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}
p {padding: 0 70px 20px; font-size: 14px; line-height: 1.38em;} 
ul,
ol {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}
dl {font-size: 0;} 
dt, 
dd {display: inline-block; vertical-align: top; font-size: 13px; line-height: 1.25em;}
#page {position: relative; height: 100%;}


/*s-header.css*/
#header {display: none;}


/*s-content.css*/
#content div.company,
#content div.company ul {line-height: 1.25em;}
#content .scene.front h1 {position: absolute; top: 50%; margin-top: -64px; left: 50%; width: 400px; height: 128px; margin-left: -200px;
	text-indent: -9999px; padding: 0;
	background: transparent url(../img/logo-badge.png) no-repeat center center;
}
#content .scene.front > h2 {position: absolute; top: 50%; margin-top: 75px; left: 50%; width: 400px; height: 128px; margin-left: -200px; padding: 0; text-align: center;}
#content .scene.front p {display: none;}
#content .scene.front .usedby {display: none;}
#content .scene.front .company {position: absolute; bottom: 15px; left: 20px;}
#content .scene.front .company h2,
#content .scene.front .company .email,
#content .scene.front .company .tel,
#content .scene.front .company .cvr {display: none;}
#content .scene.front .company ul.info,
#content .scene.front .company ul.address, 
#content .scene.front .company ul.address li {display: inline-block;}
#content .scene.front .company ul.address li {padding: 0;}
#content .scene.front .company ul.address li:after {content: "\00a0\00a0/\00a0\00a0";}
#content .scene.front .company ul.address li.country:after {content: "";}
#content .scene.terms {padding: 100px 0; margin: 0 auto; max-width: 800px;}
#content .scene.terms h2 {padding-top: 20px;}
body.terms #footer {display: none;}

/*s-footer.css*/
#footer {position: absolute; bottom: 15px; right: 20px;}
#footer a {}

/*s-hovers.css*/
#footer a:hover {text-decoration: underline;}
